* {
    box-sizing: border-box;
  }
  
body {
  margin: 0px;
  overflow-x: hidden;
} 
.team-container{
    width: 1000px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
}
.team-card{
    display: flex;
    justify-content: space-around;
}
.creative-crew{
    width: 278px;
    height: 47px;
    left: 243px;
    top: 110px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}
.who-we-are{
    width: 117px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}
.content{
    width: 439px;
    height: 87px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}
.main-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-left: 30px;
    margin: auto;
 }
.role-container{
    display: flex;
    flex-direction: column;
 }
 .role-card{
    display: flex;
 }
.person-image{
    grid-area: image;
    width: 238px;
    height: 341px;
    background: #C4C4C4;
}
.person-role{
    display: inline;
    grid-area: role;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left: 20px;
}


.person-name{
    grid-area: name;
    width: 117px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
        color: #000000;
}
.top{
    padding-top: 40px;
}
.footer-card{
    text-align: center;
    padding-top: 10px;
}
@media screen and (max-width:500px) {
    .top{
        padding-top: 0px;
    }
    .top-small{
        padding-top: 40px;
    }
   
    .person-name{
        width: 128px;
        height: 18px;
        font-size: 14px;
        line-height: 21px;

        color: #000000;
    }
    .person-image{
        width: 138.72px;
        height: 209px;
    }
    .main-card{
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }
    .team-container{
        width: 375px;
        max-width: 500px;
        height: 1409px;
    }
    .team-card{
        flex-direction: column;
        margin: auto;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .creative-crew{
        width: 278px;
        height: 47px;
        font-size: 28px;

    }
    .who-we-are{
        font-size: 13px;
    }
    .content{
        width: 333px;
        height: 87px;
        font-size: 12px;
        line-height: 21px;
    }
    
}